image: node:lts

pages:
  script:
    - npm install
    - npm run build     # This creates the out/ folder automatically
    - mv out public     # GitLab Pages requires a 'public' folder
  artifacts:
    paths:
      - public
  only:
    - main
